*{
    margin: 0px;
    padding: 0px;
}

body{
    background-image: url(media/images/the_netflix_login_.jpg);
    background-size: cover;
}
div{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: #ffffff;

    
        position: absolute;
        left: 50%;
        top: 50%;
        border-radius: 4px;
        padding: 70px;
        width: 450px;
        transform: translate(-50%, -50%);
        background: rgba(0, 0, 0, 0.75);
      
    
}

h2{
    font-size: 120%;
}

input
{
    background-color: grey;
    margin: 4px;
    border-radius: 2px;
    padding: 3px 2px 2px 10px;
    background-size: 20px;
    
}